<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Редактировать рабочую группу</h2>
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/req_purchases">Рабочие группы</a></li>      
        <li><%= link_to "Рабочая группа #{@req.id}", @req %></li>          
        <li class="active"><strong>Редактирование</strong></li>
      </ol>    
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Редактирование рабочей группы</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                <%= render 'shared/actions_and_assignees' %>
                <div class="hr-line-dashed"></div>
                <%= simple_form_for(@req) do |f| %>
                  <%= f.input :id, disabled: true %>
                  <%= f.input :state, disabled: true %>
                  <%= f.input :name, disabled: @req.is_disabled?("name") %>
                  <%= f.input :description, disabled: @req.is_disabled?("description") %>
                  <%= f.input :money, disabled: @req.is_disabled?("money") %>
                  <div class="hr-line-dashed"></div>
                  <h3>Члены рабочей группы</h3>
                  <div class="row rheader">
                    <div class="col-lg-2">
                      <b>Операции</b>
                    </div>
                    <div class="col-lg-3">
                      <b><%= InfWorkgroupMember.human_attribute_name("user_id") %></b>
                    </div>
                    <div class="col-lg-3">
                      <b>Признак руководителя РГ</b>
                    </div>
                    <div class="col-lg-4">
                      <b><%= InfWorkgroupMember.human_attribute_name("comment") %></b>
                    </div>
                  </div>
                  <%= f.simple_fields_for :inf_workgroup_members do |p| %>
                    <%= render 'inf_workgroup_member_fields', f: p %>
                  <% end %>
                   <div class="links">
                    <%= link_to_add_association 'Добавить члена рабочей группы', f, :inf_workgroup_members, class: "btn btn-primary" %>
                  </div>
                  <br/>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group">
                    <%= link_to "Отмена", @req, class: "btn btn-white"%>
                    <%= f.submit :save, class: "btn btn-primary"%>
                    <% @req.state_events.each do |x| %>
                     <%= f.submit x, class: "btn btn-primary"%>
                    <% end %>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
  </div>
</div>
