<div class="row">
	<div class="col-md-6 col-sm-6">
		<%= simple_form_for(@req) do |f| %>
          <%= f.input :id, disabled: true %>      
          <%= f.input :state, disabled: true %>	
	      <div class="form-group string optional disabled"><label class="string optional control-label"><%= t(:curr_user) %></label><input class="string optional disabled form-control" disabled="disabled" type="text" value=<%= @req.user.email %>></div>           
		  <%= f.input :name %>
		  <%= f.input :inn %>		  
		  <%= f.input :old_manager, disabled: true%>
		  <%= f.input :manager, collection: User.all.collect { |x| x.email } %>
		  <%= f.input :money %>

		  <div class="form-group"><%= f.submit :save, class: "btn btn-success"%></div>
		  <% @req.state_events.each do |x| %>
		    <div class="form-group fl1"><%= f.submit x, class: "btn btn-success"%></div>
		  <% end %>  
		<% end %>
	</div>
</div>
