<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Заявки на перезакрепление</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Открытые заявки на перезакрепление</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                <div class="form-group">
                  <%= link_to t(:new_req), new_req_reassign_path, class: "btn btn-primary"%>
                </div>
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th></th>
                              <th><%= ReqReassign.human_attribute_name("id") %></th>
                              <th><%= ReqReassign.human_attribute_name("state") %></th>
                              <th><%= t(:curr_user) %></th>
                              <th><%= ReqReassign.human_attribute_name("name") %></th>
                              <th><%= ReqReassign.human_attribute_name("old_manager_id") %></th>
                              <th><%= ReqReassign.human_attribute_name("new_manager_id") %></th>
                              <th><div align="right" data-toggle="tooltip" data-placement="top" title="Согласование требуется если доход более 1 000"><%= ReqReassign.human_attribute_name("money") %></div></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @reqs.each do |req| %>
                              <tr>
                                <td>
                                  <% if req.is_assigned?(current_user) %>
                                    <%= link_to 'Ред.', edit_req_reassign_path(req) %>
                                  <% end %>   
                                </td>
                                <td><%= link_to req.id, req %></td>
                                <td><%= req.state %></td>
                                <td><%= req.opened_assignment_users %></td>
                                <td><%= req.client.name %></td>
                                <td><%= req.old_manager.name %></td>
                                <td><%= req.new_manager.name %></td>
                                <td style="text-align: right"><%= number_to_currency(req.money, :unit => "") %></td>
                              </tr>
                            <% end %>                         
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

