<h1 id="show">Просмотр заявки</h1>
<%= render 'show_buttons' %>
<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@req) do |f| %>
      <%= f.input :id, disabled: true %>      
      <%= f.input :state, disabled: true %> 
      <%= f.input :user_id, collection: User.all, label_method: :name, value_method: :id, disabled: true %>
      <%= f.input :client_id, collection: Client.order(:name).all, label_method: :name, value_method: :id, disabled: true %>   
      <%= f.input :old_manager_id, collection: User.order(:name).all, label_method: :name, value_method: :id, disabled: true %>
      <%= f.input :new_manager_id, collection: User.order(:name).all, label_method: :name, value_method: :id, disabled: true  %>   
      <%= f.input :money, disabled: true %>   
      <%= f.input :info, disabled: true %> 
    <% end %>  
  </div>
</div>
<%= render 'show_buttons' %>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <b>List of Available actions:</b><br/>
      <%= @req.state_events %>
    </div>
  </div>
</div>
