<h1>Просмотр заявки на перезакрепление</h1>
<%= render 'show_buttons' %>
<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@req) do |f| %>
      <%= f.input :id, disabled: true %>      
      <%= f.input :state, disabled: true %> 
      <div class="form-group string optional disabled"><label class="string optional control-label"><%= t(:curr_user) %></label><input class="string optional disabled form-control" disabled="disabled" type="text" value=<%= @req.user.email %>></div>   
      <%= f.input :name, disabled: true %>
      <%= f.input :inn, disabled: true%>      
      <%= f.input :old_manager, disabled: true%>      
      <%= f.input :manager, collection: User.all.collect { |x| x.email }, disabled: true %>
      <%= f.input :money, disabled: true %>    
    <% end %>  
  </div>
</div>
<%= render 'show_buttons' %>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <b>List of Available actions:</b><br/>
      <%= @req.state_events %>
    </div>
  </div>
</div>
