<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Отчет SLA</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/">Главная</a>
        </li>
        <li>
          <a href="/reports">Отчеты</a>
        </li>
        <li class="active">
          <strong>Отчет SLA</strong>
        </li>
      </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>Парамеры отчета</h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">
                <div class="d-search">
                  <%= simple_form_for :report_sla, { url: '/reports/sla' } do |f| %>
                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.input :state, label: 'Статус', required: false, collection: @states, label_method: :first, value_method: :last, selected: @state, include_blank: true %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.input :user_id, label: 'Исполнитель', required: false, collection: User.order(:name).all, label_method: :name, value_method: :id, selected: @user_id, include_blank: true  %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.input :req_type, label: 'Тип заявки', required: false, collection: @req_types, selected: @req_type, include_blank: true  %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <%= f.input :date_begin, label: 'Дата создания с', required: false, input_html: { value: @date_begin } %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.input :date_end, label: 'по', required: false, input_html: { value: @date_end } %>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.submit "Сформировать", class: "btn btn-primary"%>
                    <%= link_to "Очистить", '/reports/sla', class: "btn btn-white"%>
                  </div>
                  <% end %>            
                </div>
              </div>
          </div>
          <div class="ibox float-e-margins">
              <div class="ibox-content">
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th><%= Assignment.human_attribute_name("id") %></th>
                              <th><%= Assignment.human_attribute_name("created_at") %></th>
                              <th><%= Assignment.human_attribute_name("close_date") %></th>
                              <th><%= Assignment.human_attribute_name("deadline_date") %></th>
                              <th><%= Assignment.human_attribute_name("user_id") %></th>
                              <th>Тип задания</th>
                              <th><%= Assignment.human_attribute_name("description") %></th>        
                              <th><%= Assignment.human_attribute_name("closed") %></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @assignments.each do |ass| %>
                              <tr>
                                <td><%= link_to ass.id, ass.assignable %></td>
                                <td><%= ass.created_at.strftime('%d.%m.%Y %T') %></td>
                                <td><%= ass.close_date.strftime('%d.%m.%Y %T') if !ass.close_date.blank? %></td>
                                <td><%= ass.deadline_date.strftime('%d.%m.%Y %T') if !ass.deadline_date.blank? %></td>
                                <td><%= ass.user.name %></td>
                                <td><%= ass.assignable_type %></td>
                                <td><%= ass.description %></td>
                                <td>
                                  <% if ass.closed == true %>
                                    <a href="#"><i class="fa fa-check text-navy"></i></a>
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                      </table>
                  </div>

              </div>
          </div>
      </div>

  </div>
</div>
<script type="text/javascript">
  $('#report_sla_date_begin').datepicker()
  $('#report_sla_date_end').datepicker()
</script>